*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	//font-size: calc(100vw / 1920 * 10);
	font-size: 14px;
	width: 100%;
	overflow-x: hidden;
}

body {
	font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width: 100%;
	overflow-x: hidden;
}

img  {
	vertical-align: middle;
}

h1, h2, h3, h4 {
	@extend .bold;
}

input, button, a {
	all: unset;
}

a, button {
	cursor: pointer;
}

section, main {
	padding: $section-padding;
	&.padding-none {
		padding: 0;
	}
	&.padding-top {
		padding-bottom: 0;
	}
	&.padding-bottom {
		padding-top: 0;
	}
	.section-title {
		padding-bottom: $section-title-bottom;
	}
}
