.hero {
  position: relative;

  .hero-text-overlay {
    @extend %center;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
  }

  .hero-nav {
    @extend %center;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
    left: 0;
    button {
      background: $white;
      width: 70px;
      height: 2px;
      margin: 0 5px;
      &.tns-nav-active {
        background: $primary;
      }
    }
  }
}

//Height
.hero, .hero .tns-outer, .hero .tns-outer img {
  height: $hero-height;
  min-height: $hero-min-height;
}
